.console-content {
    min-height: 70vh;
    background: grey;
}
#accountSettings{
    min-height: 70vh;
    background: white;
}
#itinerarySettings{
    min-height: 70vh;
    background: white;
}
#mapContainer{
    height: 70vh;
    background: white;
    overflow: hidden;
}

