.console-content {
    min-height: 60vh;
    background: grey;
}
#accountSettings{
    min-height: 60vh;
    background: white;
}
#itinerarySettings{
    min-height: 60vh;
    background: white;
}
#mapContainer{
    min-height: 60vh;
    background: white;
}
#mapContainer div:first-child {
    position: relative !important;
    max-height: 700px !important;
    max-width: 400px !important;
}