.console-content {
    min-height: 60vh;
    background: grey;
}
#accountSettings{
    min-height: 60vh;
    background: white;
}
#itinerarySettings{
    min-height: 60vh;
    background: white;
}
#mapContainer{
    min-height: 60vh;
    background: white;
    overflow: hidden;
}
#mapContainer div:first-child {
    position: relative !important;
    max-height: 60vh !important;
    /* max-width: 800px !important; */
}